DB_HOST=<AIVEN_DB_HOST>
DB_PORT=<AIVEN_DB_PORT>
DB_NAME=<DATABASE_NAME>
DB_USER=<DATABASE_USER>
DB_PASSWORD=<DATABASE_PASSWORD>

SECRET_KEY=<GENERATE_SECURE_SECRET>
JWT_SECRET_KEY=<GENERATE_SECURE_SECRET>

ADMIN_PHONE=1234567890
ADMIN_PASSWORD=<CHANGE_THIS_IN_PRODUCTION>

QUIZ_DURATION_SECONDS=1800
QUIZ_VIOLATION_LIMIT=3